/* ------------- PROXIMO: COMPLETAR PÁGINA "DESTINOS", "VUELOS" Y "CONTACTO".-----------*/
/* ------------- Las páginas "Inicio" y "Blog" son las 2 responsive completamente
                Flexbox se agregó a la página de Blog
                Grid se aplicó en la galería de la página de Destinos
                Creé un menu hamburguesa con un tutorial usando java script, ya que boostrap cambiaba mucho de mi barra de navegación inicial.
                Aun no he editado nada de la página de Vuelos
-----------*/

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=PT+Sans+Narrow:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ICONOS, REDES SOCIALES, LOGO */

.logo {
    width: 70px;
    height: auto;
    padding: 0px 10px;
}

.social {
    width: 30px;
    height: auto; 
    display: inline;
    padding: 2px;
}
/*-------BARRA DE NAVEGACIÓN ------*/

header  {
    margin: 0;
    font-size: 18px;
    background-color: #40526178;
    font-family: 'Quicksand', sans-serif;
    padding: 20px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    padding: 0 40px;
}

a    {
    text-decoration: none;
    color: #deefef;
    transition: 0.3s;
}

a:hover {
    color: #3a81bc;
}

.hamburguesa {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #deefef;
}


/* -------------------- FOOTER ---------------------------- */

footer {
    background-color: #405261fc;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #deefef;
    padding: 20px;
}


.contacto p {
    display: inline-block;
}

footer div p {
    display: flex;
    padding: 5px;
    justify-content: flex-start;
}


.agencia {
    display: flex;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.derechosAutor {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.politicas{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    padding: 0px;
}

/* Secciones Principales - Heroe */
body {
    background-color: #fcfeff;
}

.principal {
    text-align: center;
    background-color: #fcfeff;
    width: 70vw;   
    margin: 0 auto;
    padding: 2em;
}

h2 {
    text-align: left;
    padding: 10px;
    color: #5b4a72;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    font-weight: 400;
}

/* ------------- Inicio  |   Falta agregar flex, etc..------------ */

.inicio {
    background-image: url(../img/inicioHeroe.jpg) ;
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}


.heroe h1 {
    color: #faf7de;
    text-shadow: 10px 10px 5px black;
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    font-weight: 200px;
    text-align: center;
    padding: 100px 50px; 
    

    
}


main section h1 {
    position: absolute;
    bottom: 0;
}




/* -------PAGINA DESTINOS -------- */
/* -------Practica con GRIDS -------- */

.destinos {
    background-image: url(../img/destinosHeroe.jpg);
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.galeria {
    margin-bottom: 20px;
}
.gridGaleria {
    width: 100%;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 5px;
}


.gridGaleria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    border-radius: 10px;
}

.gridGaleria div img:hover {
    transform: scale(1.05);
}

.imgUno {
    grid-row: span 2;
}

.imgDos {
    grid-column: span 2;
}

.imgCuatro {
    grid-row: span 2;
}

.imgCinco {
    grid-column: span 2;
    grid-row: span 2;
}

.imgSeis {
    grid-row: span 2;
}

.imgSiete {
    grid-column: span 2;
}


    
.heroe h1 {
    color: #faf7de;
    text-shadow: 10px 10px 5px black;
    font-family: 'Quicksand', sans-serif;
    font-size: 85px;
    font-weight: 200px;
    text-align: center;
    

    
}

.boton {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 35px;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 2px solid #5b4a72;
    transition: 1s;
}

.primario {
    background-color: #5b4a72;
    color: white;
    
}

.secundario {
    background-color: white;
    color: #5b4a72;
    
}

.boton.primario:hover{
    color: white;
    background-color: #5b4a72;
}

.boton.secundario:hover{
    color: white;
    background-color: #5b4a72;
}

.icono {
    width: 80px;
    height: 80px;
    margin: 15px;
}

.iconosInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 20px;
    width: 40%;
}

.iconos{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.descubre {
    margin: 20px;
    display: flex;
    flex-direction: row;
    text-align: left;
}


.imagenes {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}


/* -------PAGINA VUELOS -------- */

.vuelos {
    background-image: url(../img/vuelosHeroe.jpg);
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.heroeB h1 {
    color: #5b4a72;
    font-size: 100px;
    text-shadow: -1px -1px 15px rgb(223, 210, 234);
    font-family: 'Quicksand', sans-serif;
    font-size: 100px;
    font-weight: 200px;
    text-align: center;
    padding: 100px 50px; 
    
}

/* -------PAGINA BLOG -------- */
/* -------Practica con FLEXBOX -------- */

.blog {
    background-image: url(../img/blogHeroe.jpg);
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blogTarjetas {
    width: 300px;
    height: 500px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin: 15px;
    transition: 1s;
}

.blogTarjetas:hover {
    transform: scale(1.1);
}

.blogImg {
    width: 298px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px ;
}

h3 {
    color: black;
    padding: 25px 10px 10px 10px;
    text-align: left;
}

.texto {
    color: black;
    padding: 5px 5px 5px 25px;
    text-align: left;
}

.blogContenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.blogContenedor::after {
    width: 300px;
    content: " ";
    margin: 15px;

}

/* -------PAGINA CONTACTO -------- */
/*---- Practica con BOX MODELING ----*/

.contactoPrincipal {
    background-image: url(../img/contactoHeroe.jpg);
    width: 100%;
    height: calc(100vh);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

fieldset {
    background-color: white;
    border-radius: 15%;
    padding: 20px;
    margin: 0px auto;
    border: 1px solid #d7d7d7;
    position: center;
    width: 500px;
    height: 530px;
}

hr {
    height: 2px;
    background-color: #deefef;
    border-color: #deefef;
    margin-bottom: 10px;
}

label {
    display: block;
    margin: 2px;
}

input, select, textarea {
    margin: 2px;
    padding: 5px;
    width: 90%;
    min-height: 20px;
    border: .5px solid #d7d7d7;
    font-family: 'Roboto', sans-serif;
    color: #767474;
}

select, textarea {
    width: 89%;
    min-height: 30px;
}


input[type=submit] {
    width: 30%;
    margin: 2px;
    margin-left: 295px;
    border-radius: 10px;
    background-color: #5b4a72;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 15px;
}




/*---------- MEDIA QUERIES -----------*/


/*----Esta afecta las paginas: Destinos ---*/
@media screen and (max-width: 1100px) {
    
    .gridGaleria {
        grid-template-columns: repeat(2, 1fr) ;
        grid-auto-rows: 300px;
    }

    .gridItem {
        grid-column: span 1;
        grid-row: span 1;
    }

    .imgUno {
        grid-row: span 2;
    }

    .imgCuatro {
        grid-row: span 2;
    }

    .imgSeis {
        grid-row: span 2;
    }

}

@media screen and (max-width:1024px) {
    .boton {
        width: 250px;
        height: 35px;
    }
}

/*----Esta afecta la barra de navegación, footer, seccion principal (heroe 1)---*/
@media screen and (max-width: 850px) {
    header nav ul li {
        padding: 0 20px;
    }

    .principal {
        width: 80%;
    }

    input, select, textarea {
        display: flex;
        margin: 5px;
        width: 98%
    }

    input[type=submit] {
        margin: 2px;
        width: 98%;
        justify-content: center;
        padding: 8px;
        font-size: 15px;
    }

    fieldset {
        border: 0px;
        width: 100%;
        padding: 30px;
    }

}

@media screen and (max-width:800px) {
    .descubre {
        display: flex;
        flex-direction: column;
    }

    .imagenes {
        margin: 20px;
        width: 400px;
    }
}

@media screen and (max-width:750px) {
    .iconosInfo {
        width: 90%;
    }
    .iconos {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 700px) {
    .hamburguesa {
        display: block;
    }

    .hamburguesa.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguesa.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguesa.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .hamburguesa.active .bar:nth-child(4){
        opacity: 0;
    }

    .hamburguesa.active .bar:nth-child(5){
        opacity: 0;
    }

    .navMenu {
        position: absolute;
        left: -100%;
        top: 95px;
        gap: 0;
        flex-direction: column;
        background-color: #40526178;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .navMenu.active {
        left: 0;
    }


/*-- Footer --*/


footer div p {
    display: none;
}

.social{
    display: flex;
    padding: 5px 5px;
    width: 55px;
}

.agenciaInfo {
    display: none;
}

.logo::after {
    display: none;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.heroe h1 {
    font-size: 80px;
    padding: 50px 25px;
    text-shadow: 5px 5px black;
    bottom: 100px;
}

}

/*-- estas afectan la seccion principal (heroe 1) (todas las páginas excepto "vuelos") --*/
@media screen and (max-width: 650px) {

    .heroe h1 {
        font-size: 70px;
    }

    .principal {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {

    .heroe h1 {
        font-size: 60px;
    }

    .imagenes{
        width: 300px;
    }
}

@media screen and (max-width: 500px) {

    .heroe h1 {
        font-size: 50px;
    }

    .principal {
        width: 100%;
        padding: 0px;
    }

    fieldset {
        margin: 0px 0px 20px 0px; 
    }
    
}

/*----Esta afecta las paginas: Destinos ---*/

@media screen and (max-width: 500px) {
    
    .gridGaleria {
        grid-template-columns: 1fr;
        width:90%;
        margin: auto;
    }

    .gridItem {
        grid-column: span 1;
        grid-row: span 1;
    }

}

/*-- estas afectan la seccion principal (heroe 1) (todas las páginas excepto "vuelos") --*/

@media screen and (max-width: 420px) {

    .heroe h1 {
        font-size: 35px;
        text-shadow: 3px 3px black;
    }
}

@media screen and (max-width:390px) {
    .imagenes {
        width: 250px;
    }
    
}


/*GRIDS AREAS*/

.gridContenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-template-areas:  
    "barra"
    "presentacion"
    "contenido"
    "pie"
    ;
}


.menu {
    grid-area: barra;
}

.presentacion {
    grid-area: presentacion;
    text-align: center;
    font-size: 50px;
}

.contenido {
    grid-area: contenido;
}

.pie {
    grid-area: pie;
}

